section{
    display: flex;
    align-items: center;
    justify-content: center;
}
article{
    width: 30%;
    margin: 0 5%;
    border: 5px solid var(--text);
    padding: 2%;
}
p{
    color: var(--text);
    font-size: 1.5em;
}

#botonf, #botonm{
    width: 10%;
    display: block;
    margin: 5% auto;
}

h6{
    margin: 0 10%;
    color: var(--text);
    opacity: 0.5;
}

#intro{
    display: block;
    margin: auto;
    width: 60vw;
}

@media only screen and (max-width:900px) {

    section{
        display: block;
    }
    article{
        width: 80%;
        margin: 10%;
    }

    p{
        font-size: 1.3em;
    }

}

@media only screen and (max-width:600px) {

    section{
        display: block;
    }
    article{
        width: 80%;
        margin: 10%;
    }

    p{
        color: var(--text);
        font-size: 0.9em;
    }

    #botonf, #botonm{
        width: 20%;
        display: block;
        margin: 15% auto;
    }

}