header{
    display: none;
    text-align: center;
    margin: 3% 0% 15% 0%;
}
header img{
    width: 50%;
}

#artImg{
    display: block;
    margin: auto;
    text-align: center;
}
.soul{
    display: none;
    width: 5%;
    position: fixed;
    right: 47.5%;
}
.soul:nth-child(7){
    animation: desplazarse 4s, orbit 7s infinite 4s linear;
}
.soul:nth-child(6){
    animation: desplazarse 5s, orbit 7s infinite 5s linear;
}
.soul:nth-child(5){
    animation: desplazarse 6s, orbit 7s infinite 6s linear;
}
.soul:nth-child(4){
    animation: desplazarse 7s, orbit 7s infinite 7s linear;
}
.soul:nth-child(3){
    animation: desplazarse 8s, orbit 7s infinite 8s linear;
}
.soul:nth-child(2){
    animation: desplazarse 9s, orbit 7s infinite 9s linear;
}
.soul:nth-child(1){
    animation: desplazarse 10s, orbit 7s infinite 10s linear;
}
@keyframes desplazarse{
    0%{transform: translateX(-100vw);}
    100%{transform: translateX(13vw);}
}
@keyframes orbit{
    0%{transform: rotate(0deg) translateX(13vw);}
    100%{transform: rotate(360deg) translateX(13vw);}
}


.nav{
    display: none;
    width: 21vw;
    margin: auto;
    text-align: center;
}
.link{
    color: var(--text);
    text-decoration: none;
    font-size: 3em;
    transition: text-shadow 1s;
}
.link:hover{
    transition: text-shadow 1s;
    text-shadow: 3px 3px 0px var(--rojo), -3px -3px 0px var(--rojo);
   
}
.carousel-item:hover{
    animation: levitar 5s infinite linear;
}
@keyframes levitar{
    0%{transform: translateY(0vh);}
    33%{transform: translateY(1vh);}
    66%{transform: translateY(-1vh);}
    100%{transform: translateY(0vh);}
}

#fixed{
    position: fixed;
    top: 2%;
    left: 2%;
    color: var(--text);
    opacity: 0.5;

}
