#perrete{
    width: 10vw;
    position: fixed;
    top: 15%;
    z-index: -10;
    animation: desplazarse 15s infinite linear;
}
@keyframes desplazarse{
    0%{transform: translateX(0vw) translateY(1vh) scaleX(-1);}
    50%{transform: translateX(90vw) translateY(-1vh) scaleX(-1);}
    50.01%{transform: translateX(90vw) translateY(-1vh) scaleX(1);}
    100%{transform: translateX(0vw) translateY(1vh) scaleX(1);}
}

h1{
    color: var(--accent);
    margin: 15% 0 5% 0;
    text-align: center;
}



