@font-face {
    font-family: "undertale";
    src: url(../font/DeterminationMonoWebRegular-Z5oq.ttf);
}
:root{
    --text: #d9f3ee;
    --background: black;
    --primary: #9bdfd4;
    --secondary: #2b3985;
    --accent: #634fc6;
    --rojo: rgb(205, 51, 51);
    --rojoOscuro: rgb(145, 36, 36);
    --blancoAzulado: rgb(183, 183, 235);
    --blancoAzuladoOscurado: rgb(171, 171, 248);
}
*{
    vertical-align: top;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "undertale";
}
body{
    background-color: var(--background);
    cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAWCAYAAADJqhx8AAAAAXNSR0IArs4c6QAAAWZJREFUOE9jZMAE/xkYGBixiGMVgikEaWKoXrCeoSU+gOHm83cMGlLCICGCBoEUGO48f/OcvLgIw99//xnYWJgZVMQFYIZsYmBg8MfnGpAB/288e8ugLimEog7qCqJcgNUARkawXqIMACn8L6+pwxBX1caQ5+/CIMLLyUCqATDnw10D9UIGAwPDTEJhgC4PN4QYV2D1Y9vK7f8rwzxgMbGNgYHBG5crcAUS0a7AGcrVC9b9b4kPZLjz6j2Dqjg4irGqxRdNRLkCbzyzsLH9//3zJ9j7uAKUUEJBj1YM9YQMYOAXFv3/9vVLBmZGRqyuIGgAcl5ByqXwQCXGAIbU1gn/6zKSGGSEeMFpA5TxYJmNGAP+1y7exJDobsegKMqPkp5AAUvQgNrFm/5HO1tjZHdYzBA0ADkMQMXWon2nGOKdzGBR20SMAQwwVyzde5ShOdYP2RuQUoMIAPL8BwYGhmcMDAzSyOoB7NF+lumuG0YAAAAASUVORK5CYII=),auto;
}

:-moz-selection{
    background-color: var(--rojo);
}
::selection{
    background-color: var(--rojo);
}


.titulo{
    margin: 5% 0;
    color: var(--rojo);
    text-align: center;
    font-size: 4em;
    animation: levitar 3s infinite linear;
    transition: text-shadow 2s;
}
.titulo:hover{
    transition: text-shadow 2s;
    text-shadow: 2px 2px 0px var(--rojoOscuro), -2px -2px 0px var(--rojoOscuro);
}
@keyframes levitar{
    0%{transform: translateY(0);}
    50%{transform: translateY(1vh);}
    100%{transform: translateY(0);}
}


.timmie{
    width: 7vw;
    margin: 0 2%;
    position: absolute;
    animation: aparecer 10s infinite;
}
@keyframes aparecer{
    0%{transform: scaleY(-1) translateY(10vh);}
    50%{transform: scaleY(-1) translateY(-3vh);}
    100%{transform: scaleY(-1) translateY(10vh);}
}

.container-fluid{
    font-size: 150%;
}
.nav-link{
    color: var(--primary);
    transition: margin-left 1s, color 1s;
}
.nav-link:hover{
    transition: margin-left 1s, color 1s;
    margin-left: 2%;
    color: var(--background);
}
.navbar{
    background-color: var(--accent);
}

@media only screen and (max-width:800px) {

    @keyframes aparecer{
        0%{transform: scaleY(-1) translateY(10vh);}
        50%{transform: scaleY(-1) translateY(-6vh);}
        100%{transform: scaleY(-1) translateY(10vh);}
    }
}