#perrete{
    width: 10vw;
    position: fixed;
    top: 15%;
    z-index: -10;
    animation: desplazarse 15s infinite linear;
}
@keyframes desplazarse{
    0%{transform: translateX(0vw) translateY(1vh) scaleX(-1);}
    50%{transform: translateX(90vw) translateY(-1vh) scaleX(-1);}
    50.01%{transform: translateX(90vw) translateY(-1vh) scaleX(1);}
    100%{transform: translateX(0vw) translateY(1vh) scaleX(1);}
}

h1{
    color: var(--accent);
    margin: 15% 0 5% 0;
    text-align: center;
}

form{
    margin: 10%;
    display: flex;
    flex-direction: column;
}
form label{
    color: var(--accent);
    margin-top: 5%;
    font-size: 1.5em;
}
form button{
    background-color: var(--accent);
    color: var(--primary);
    font-size: 2em;
    border-radius: 10px;
    padding: 2%;
    width: 15%;
    margin: 2% 0;
    transition: box-shadow 2s;
}
form button:hover{
    transition: box-shadow 2s;
    box-shadow: 5px 5px 0px var(--primary);
}
input, textarea{
    width: 50%;
    border-radius: 5px;
}
.img{
    display: block;
    width: 1%;
    margin: 5% auto;
}

@media only screen and (max-width:1000px) {

    button{
        font-size: 1.5em;
    }
}
@media only screen and (max-width:800px) {

    label{
        font-size: 0.9em;
    }
    form button{
        font-size: 0.9em;
    }
}
@media only screen and (max-width:600px) {

    form label{
        font-size: 0.8em;
    }
    form button{
        font-size: 0.8em;
    }
}
