div{
    font-size: 120%;
}
.nav-link{
    color: var(--primary);
}
.nav-link:hover{
    transition: margin-left 1s, color 1s;
    margin-left: 2%;
    color: var(--background);
}
nav{
    background-color: var(--accent);
}